#Menu { background-position: center; background-repeat: no-repeat; background-repeat-x: no-repeat; background-repeat-y: no-repeat; background-size: cover; height: 480px; width: 320px; }
#Menu-menu { height: 0px; left: 40px; top: 264px; width: 240px; }
#Menu-image { height: 256px; left: 0px; top: 24px; width: 320px; }